@font-face {
  font-family: Mooli;
  src: url(./assets/fonts/Mooli-Regular.ttf);
}

body {
  margin: auto;
  font-family: Mooli;
  src: url(./assets/fonts/Mooli-Regular.ttf);
  background-color: #191919;
}

.header {
  background-color: #000000;
  color: white;
  display: grid;
  grid-template-columns: 1fr 350px;
}

.navbar {
  display: grid;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

li {
  align-items: center;
}

h1 {
  margin: 0;
  padding: 10px;
}

h2 {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
}
